<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h1>info goes here</h1>
<p>improvements</p><br>
<p>1. dont delete cols with same values throughout as they are swiths</p><br>
<p>2. during calculation of percentage can find n unanamolous datapoints closest to anamolous datapoint then subtract both calculate percentge and rest is samecertain </p><br>
<p>3. during calc. of percentage subtract pred-actual of anamolous datapoints, convert into percentage and rest same </p><br>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>




</body>
</html>